#root {
  margin: 0 auto;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

li {
  font-size: 1.2rem;
  list-style-type: none;
  border: 5px solid darkgoldenrod;
  border-radius: 20px;
  width: fit-content;
  padding-inline: 10px;
  place-self: center;
  margin-inline: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#powerlifing {
  height: 400px;
  width: 400px;
  margin-top: 50px;
}
